:root {
  /* Adaptive variables */

  --mobile: 480px;
  --tablets: 768px;
  --desktop: 1200px;

  /* Color-Variables */
  --primary-color-text-header: #ffffff;
  --primary-color-bg-header: #0072bc;
  --primary-color-bg-btn: #f26522;
  --border-color-card: #999595;
  --btn-card-order-color: #06811a;
  --btn-card-absend-color: #444444;
  --heading-card-color: #8e0000;
  --bg-section-slider: #6dcff6;
}

/* General styles */

body {
  background-color: var(--primary-color-text-header);
  font-family: "PT Sans", sans-serif;
}

header {
  background-color: var(--primary-color-bg-header);
}

.img {
  width: 150px;
}

.general-link {
  text-decoration: none;
}
.general-list {
  list-style: none;
  padding: 0;
}

.general-heading {
  margin: 0;
}

.logo-link {
  color: var(--primary-color-text-header);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  margin: 0;

  font-weight: 700;
}

.btn-orderHead {
  display: inline-block;

  color: var(--primary-color-text-header);
  background-color: var(--primary-color-bg-btn);

  font-weight: 700;

  border: none;
  cursor: pointer;
}

.heading-hero {
  font-weight: 700;
}

.heading-hero-two {
  font-weight: 700;
}

.subtitle-hero {
  font-weight: 400;
}

/* General section card */

.list-card {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--border-color-card);
  border-radius: 10px;
}

.img-card {
  display: block;
  width: 100%;

  border-radius: 10px;
}

.img-stock {
  width: 250px;
}

.heading-card {
  color: var(--heading-card-color);

  font-weight: 700;
}
.text-card {
  text-align: center;
}

.btn-card {
  display: inline-block;
  background-color: var(--primary-color-text-header);
  color: var(--btn-card-order-color);

  padding: 5px;

  font-size: 17px;
  line-height: 0.7;

  border: none;
  cursor: pointer;
}
.btn-none {
  color: var(--btn-card-absend-color);

  outline: none;
}

.btn-none:hover.btn-none:focus {
  color: var(--heading-card-color);
}

/* General section three  (slider)  */

.section-slider .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-slider {
  text-align: center;
}

/* General footer */

.copyright {
  font-weight: 700;
}

/* Responsive and defined styles */

@media screen and (max-width: 767px) {
  .container {
    max-width: var(--mobile);
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
  }

  /* Header */
  .logo-img {
    width: 60px;
    margin-right: 20px;
  }

  .logo-text {
    font-size: 13px;
    line-height: 1;

    /* font-size: 16px;
  line-height: 3.33; */
  }
  .btn-orderHead {
    min-width: 100px;
    height: 30px;

    font-size: 13px;
    line-height: 1.083;
  }

  /* Main. Section one (hero)  */
  .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 25px;
  }

  .heading-hero {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.2;

    text-align: center;
    /* font-size: 22.5px;
  line-height: 1.875; */
  }

  .heading-hero-two {
    font-size: 17px;
    line-height: 1.2;
    text-align: center;
  }

  .subtitle-hero {
    margin-top: 25px;
    font-size: 15px;
    line-height: 0.88;
    text-align: center;
  }

  /* Main. Section two (section card)  */

  .section-card {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .heading-hero-positions {
    font-size: 17px;
    line-height: 0.88;
  }

  .list-card {
    flex-direction: column;

    margin-top: 20px;
  }

  .list {
    flex-direction: column;

    width: 250px;

    padding-bottom: 17px;
  }

  .list:not(:first-child) {
    margin-top: 15px;
  }

  .list-stock {
    border: none;
  }

  .img-stock {
    width: 100%;
  }

  .heading-card {
    margin-top: 10px;

    font-size: 17px;
  }
  .text-card {
    margin-top: 20px;

    font-size: 15px;
    line-height: 1;
  }

  .btn-card {
    margin-top: 20px;
  }

  /* Section three  (slider)  */

  .section-slider {
    background-color: var(--bg-section-slider);
    padding-top: 37px;
    padding-bottom: 65px;
  }

  .heading-slider {
    margin-bottom: 25px;

    font-size: 25px;
    line-height: 2;
  }
  .img-slide {
    width: 300px;
  }

  .controls-container {
    display: none;
  }

  .slider-container {
    height: 100px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slid {
    position: absolute;
    min-width: 300px;

    opacity: 0;

    transition: opacity 1000ms linear;
  }
  .current {
    opacity: 1;
    transition: opacity 1000ms linear;
  }

  .current {
    opacity: 1;
    transition: opacity 1000ms linear;
  }

  /* Footer */
  .footer-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;

    padding-top: 12px;
    padding-bottom: 12px;
  }

  .copyright {
    font-size: 10px;
  }
}

/* TABLETS  */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: var(--tablets);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  /* Header */
  .logo-img {
    width: 85px;
    margin-right: 20px;
  }

  .logo-text {
    font-size: 20px;
    line-height: 1;
  }

  .btn-orderHead {
    min-width: 190px;
    height: 40px;

    font-size: 18px;
    line-height: 1.083;
  }

  /* Main. Section one (hero)  */
  .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 25px;
  }

  .heading-hero {
    margin-bottom: 0;
    font-size: 25px;
    line-height: 1.2;

    text-align: center;
  }

  .heading-hero-two {
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
  }

  .subtitle-hero {
    margin-top: 25px;
    font-size: 22px;
    line-height: 0.88;
    text-align: center;
  }

  /* Main. Section two (section card)  */

  .section-card {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .heading-hero-positions {
    font-size: 22px;
    line-height: 0.88;
  }

  .list-card {
    margin-top: 20px;
  }

  .list {
    flex-direction: column;

    width: 250px;

    padding-bottom: 17px;
  }

  .list:not(:first-child) {
    margin-left: 15px;
  }

  .list-stock {
    border: none;
  }

  .img-stock {
    width: 100%;
  }

  .heading-card {
    margin-top: 10px;

    font-size: 17px;
  }
  .text-card {
    margin-top: 20px;

    font-size: 15px;
    line-height: 1;
  }

  .btn-card {
    margin-top: 20px;
  }

  /* Section three  (slider)  */

  .section-slider {
    /* height: 300px; */
    background-color: var(--bg-section-slider);
    padding-top: 37px;
    padding-bottom: 85px;
  }

  .heading-slider {
    margin-bottom: 25px;

    font-size: 25px;
    line-height: 2;
  }
  .img-slide {
    width: 420px;
  }

  .slider-container {
    height: 200px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slid {
    position: absolute;
    min-width: 420px;

    opacity: 0;

    transition: opacity 1000ms linear;
  }

  .current {
    opacity: 1;
    transition: opacity 1000ms linear;
  }

  .btn-back {
    background-color: transparent;

    border: none;
    outline: none;
    cursor: pointer;
  }
  .btn-back-img {
    transform: rotate(180deg);
  }
  .current-one {
    background-color: var(--primary-color-text-header);

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  .current-two {
    background-color: var(--primary-color-text-header);

    width: 30px;
    height: 30px;

    margin-left: 20px;

    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  .current-three {
    background-color: var(--primary-color-text-header);

    width: 30px;
    height: 30px;

    margin-left: 20px;

    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  .btn-next {
    background-color: transparent;

    border: none;
    outline: none;
    cursor: pointer;
  }

  .controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Footer */
  .footer-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;

    padding-top: 12px;
    padding-bottom: 12px;
  }

  .copyright {
    font-size: 15px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
  .container {
    width: var(--desktop);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  /* Header */
  .logo-img {
    width: 141px;
    height: 98px;
    margin-right: 20px;
  }

  .logo-text {
    font-size: 32px;
    line-height: 1.33;
  }

  .btn-orderHead {
    min-width: 250px;
    height: 60px;

    font-size: 26px;
    line-height: 1.08;
  }

  /* Main. Section one (hero)  */
  .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 50px;
  }

  .heading-hero {
    margin-bottom: 0;
    font-size: 45px;
    line-height: 1.875;

    text-align: center;
  }

  .heading-hero-two {
    font-size: 45px;
    line-height: 1.875;
    text-align: center;
  }

  .subtitle-hero {
    margin-top: 50px;
    font-size: 30px;
    line-height: 0.88;
    text-align: center;
  }

  /* Main. Section two (section card)  */

  .section-card {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .heading-hero-positions {
    font-size: 30px;
    line-height: 0.88;
  }

  .list-card {
    margin-top: 40px;
  }

  .list {
    flex-direction: column;

    width: 250px;

    padding-bottom: 43px;
  }

  .list:not(:first-child) {
    margin-left: 15px;
  }

  .list-stock {
    border: none;
  }

  .img-stock {
    width: 100%;
  }

  .heading-card {
    margin-top: 11px;

    font-size: 22px;
    line-height: 0.9;
  }
  .text-card {
    margin-top: 20px;

    font-size: 16px;
    line-height: 1;
  }

  .btn-card {
    margin-top: 40px;
  }

  /* Section three  (slider)  */

  .section-slider {
    background-color: var(--bg-section-slider);
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .heading-slider {
    margin-bottom: 45px;

    font-size: 45px;
    line-height: 1.875;
  }
  .img-slide {
    width: 900px;
    height: 300px;
  }

  .slider-container {
    height: 400px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slid {
    position: absolute;
    min-width: 420px;

    opacity: 0;

    transition: opacity 1000ms linear;
  }

  .current {
    opacity: 1;
    transition: opacity 1000ms linear;
  }

  .btn-back {
    background-color: transparent;

    border: none;
    outline: none;
    cursor: pointer;
  }
  .btn-back-img {
    transform: rotate(180deg);
  }
  .current-one {
    background-color: var(--primary-color-text-header);

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  .current-two {
    background-color: var(--primary-color-text-header);

    width: 30px;
    height: 30px;

    margin-left: 20px;

    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  .current-three {
    background-color: var(--primary-color-text-header);

    width: 30px;
    height: 30px;

    margin-left: 20px;

    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  .btn-next {
    background-color: transparent;

    border: none;
    outline: none;
    cursor: pointer;
  }

  .controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Footer */
  .footer-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;

    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copyright {
    font-size: 22px;
    line-height: 0.96;
  }
}
